{% extends 'base.html' %}
{% block title %}Works{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row align-items-center">
    
    <div class="col-md-6">
      <h1 class="minecraft mb-4">Programming Works</h1>
      <ul class="list-unstyled">
        <li class="minecraft mb-3">
          <a class="btn btn-secondary w-100 text-start" href="{{ url_for('touppercase') }}">toUpperCase</a>
        </li>
        <li class="minecraft mb-3">
          <a class="btn btn-secondary w-100 text-start" href="{{ url_for('area_circle') }}">Area of a Circle</a>
        </li>
        <li class="minecraft mb-3">
          <a class="btn btn-secondary w-100 text-start" href="{{ url_for('area_triangle') }}">Area of a Triangle</a>
        </li>
        <li class="minecraft mb-3">
          <a class="btn btn-secondary w-100 text-start" href="{{ url_for('linked_list') }}">Linked List</a>
        </li>
        <li class="minecraft mb-3">
          <a class="btn btn-secondary w-100 text-start" href="{{ url_for('infix_to_postfix') }}">Infix to Postfix</a>
      </ul>
      <a class="btn btn-sm btn-secondary minecraft mt-3" href="{{ url_for('home') }}">Back to Home</a>
    </div>

    <div class="col-md-6 text-center">
      <img src="{{ url_for('static', filename='images/smiley.png') }}"
           alt="Programming Works"
           class="img-fluid rounded shadow-lg"
           style="max-width: 85%; height: auto;">
    </div>

  </div>
</div>
{% endblock %}
