{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
  <h1 class="minecraft text-center">Contact</h1>

  <!-- banner -->
  <img src="{{ url_for('static', filename='images/cat_contacts.png') }}"
       alt="Contact banner"
       class="img-fluid rounded mb-4 d-block mx-auto"
       style="max-width:720px;">

  <div class="row align-items-center gy-3">
    <!-- avatar -->
    <div class="col-auto text-center">
      <img src="{{ url_for('static', filename='images/miport.png') }}"
           alt="Site owner avatar"
           class="rounded-circle border avatar-lg"
           style="object-fit: cover; width:128px; height:128px;">
    </div>

    <!-- contact details with small icons -->
    <div class="col">
      <ul class="list-unstyled mb-0">
        <li class="mb-2">
          <img src="{{ url_for('static', filename='images/gmaillogo.png') }}" alt="" style="width:20px; height:20px;" class="me-2 align-middle">
          <span class="minecraft">Email:</span>
          <a class="minecraft" href="adrianian.penalosa@email.com">adrianian.penalosa@email.com</a>
        </li>
        <li class="mb-2">
          <img src="{{ url_for('static', filename='images/phone.png') }}" alt="" style="width:20px; height:20px;" class="me-2 align-middle">
          <span class="minecraft">Phone:</span>
          <a class="minecraft" href="tel:+639608329984">+63 960 832 9984</a>
        </li>
        <li class="mb-2">
          <img src="{{ url_for('static', filename='images/maps.png') }}" alt="" style="width:20px; height:20px;" class="me-2 align-middle">
          <span class="minecraft">Address:</span>
          <span class="minecraft">34 Lourdes Street, Pasay City, Philippines</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- optional map thumbnail that links to Google Maps -->
  <div class="mt-3 text-center">
    <a href="https://www.google.com/maps/place/34+Lourdes,+Pasay+City,+Kalakhang+Maynila/@14.5554567,120.9901306,19z/data=!3m1!4b1!4m6!3m5!1s0x3397c963021a87c3:0xb6379845b0cb1d9b!8m2!3d14.5554554!4d120.9907743!16s%2Fg%2F11kqgsnrng?entry=ttu&g_ep=EgoyMDI1MTAwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener">
      <img src="{{ url_for('static', filename='images/map.png') }}"
           alt="Map to location"
           class="img-fluid rounded"
           style="max-width:480px;">
    </a>
  </div>

  <div class="mt-3 text-center">
    <a class="btn btn-sm btn-secondary minecraft" href="{{ url_for('home') }}">Back to Home</a>
  </div>
{% endblock %}